<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BuildUtil.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BuildUtil.Properties.Settings>
            <setting name="BuildUtil_SignService_Sign" serializeAs="String">
                <value>http://dv/Sign/Sign.asmx</value>
            </setting>
            <setting name="BuildUtilTmp_HvSignService_Sign" serializeAs="String">
                <value>http://hvsigncode/Sign.asmx</value>
            </setting>
        </BuildUtil.Properties.Settings>
    </applicationSettings>
</configuration>