@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes:
		corporate --default,
		night --prefersdark;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
