version: '{build}'

image: Ubuntu2004

configuration: Release

skip_branch_with_pr: true
clone_depth: 1

skip_commits:
  files:
    - .travis.yml
    - .gitlab-ci.yml
    - .azure-pipelines.yml
    - .cirrus.yml

init:
  - ps: Update-AppveyorBuild -Version "build-$env:APPVEYOR_BUILD_NUMBER-$($env:APPVEYOR_REPO_COMMIT.substring(0,7))"

install:
  - sudo apt-get -y install libsodium-dev libcap-ng-dev
before_build:
  - git submodule update --init --recursive
  - ./configure
build_script:
  - make package -C build -j $(nproc || sysctl -n hw.ncpu || echo 4)
  - .ci/memory-leak-test.sh
test_script:
  - .ci/appveyor-deb-install-test.sh
  - sudo apt-get update && sudo apt-get -y install autoconf libtool liblzo2-dev libpam-dev fping unzip liblz4-dev libnl-genl-3-dev # openvpn build deps
  - sudo .ci/start-se-openvpn.sh
  - sudo .ci/run-openvpn-tests.sh

