# Global
.cproject
.project
.settings/
Makefile
/src/bin/*
!/src/bin/hamcore/
/src/bin/hamcore/*
!/src/bin/hamcore/wwwroot/
build/
cmake-build-debug/
src/bin/hamcore/authors.txt
src/bin/BuiltHamcoreFiles/
tmp/
.gitconfig
CMakeCache.txt
CMakeFiles/
output/
Win32_Release
x64_Release
Win32_Debug
x64_Debug
/src/DebugFiles
/src/BuildUtil/obj/
/src/vpnweb/vpnweb.h
/src/vpnweb/vpnweb_i.c
/src/vpnweb/vpnweb_p.c
*.user
*.ncb
*.opt
*.suo
!/src/BuildFiles/**/*

# Applied for 'developer_tools/stbchecker/'
# Copied from by https://www.gitignore.io/api/visualstudio
developer_tools/stbchecker/**/*.suo
developer_tools/stbchecker/**/*.user
developer_tools/stbchecker/**/*.userosscache
developer_tools/stbchecker/**/*.sln.docstates
developer_tools/stbchecker/**/*.userprefs
developer_tools/stbchecker/**/[Dd]ebug/
developer_tools/stbchecker/**/[Dd]ebugPublic/
developer_tools/stbchecker/**/[Rr]elease/
developer_tools/stbchecker/**/[Rr]eleases/
developer_tools/stbchecker/**/x64/
developer_tools/stbchecker/**/x86/
developer_tools/stbchecker/**/bld/
developer_tools/stbchecker/**/[Bb]in/
developer_tools/stbchecker/**/[Oo]bj/
developer_tools/stbchecker/**/[Ll]og/
developer_tools/stbchecker/**/.vs/
developer_tools/stbchecker/**/Generated\ Files/
developer_tools/stbchecker/**/s
developer_tools/stbchecker/**/[Tt]est[Rr]esult*/
developer_tools/stbchecker/**/[Bb]uild[Ll]og.*
developer_tools/stbchecker/**/*.VisualState.xml
developer_tools/stbchecker/**/TestResult.xml
developer_tools/stbchecker/**/[Dd]ebugPS/
developer_tools/stbchecker/**/[Rr]eleasePS/
developer_tools/stbchecker/**/dlldata.c
developer_tools/stbchecker/**/BenchmarkDotNet.Artifacts/
developer_tools/stbchecker/**/project.lock.json
developer_tools/stbchecker/**/project.fragment.lock.json
developer_tools/stbchecker/**/artifacts/
developer_tools/stbchecker/**/StyleCopReport.xml
developer_tools/stbchecker/**/*_i.c
developer_tools/stbchecker/**/*_p.c
developer_tools/stbchecker/**/*_i.h
developer_tools/stbchecker/**/*.ilk
developer_tools/stbchecker/**/*.meta
developer_tools/stbchecker/**/*.obj
developer_tools/stbchecker/**/*.iobj
developer_tools/stbchecker/**/*.pch
developer_tools/stbchecker/**/*.pdb
developer_tools/stbchecker/**/*.ipdb
developer_tools/stbchecker/**/*.pgc
developer_tools/stbchecker/**/*.pgd
developer_tools/stbchecker/**/*.rsp
developer_tools/stbchecker/**/*.sbr
developer_tools/stbchecker/**/*.tlb
developer_tools/stbchecker/**/*.tli
developer_tools/stbchecker/**/*.tlh
developer_tools/stbchecker/**/*.tmp
developer_tools/stbchecker/**/*.tmp_proj
developer_tools/stbchecker/**/*.log
developer_tools/stbchecker/**/*.vspscc
developer_tools/stbchecker/**/*.vssscc
developer_tools/stbchecker/**/.builds
developer_tools/stbchecker/**/*.pidb
developer_tools/stbchecker/**/*.svclog
developer_tools/stbchecker/**/*.scc
developer_tools/stbchecker/**/_Chutzpah*
developer_tools/stbchecker/**/ipch/
developer_tools/stbchecker/**/*.aps
developer_tools/stbchecker/**/*.ncb
developer_tools/stbchecker/**/*.opendb
developer_tools/stbchecker/**/*.opensdf
developer_tools/stbchecker/**/*.sdf
developer_tools/stbchecker/**/*.cachefile
developer_tools/stbchecker/**/*.VC.db
developer_tools/stbchecker/**/*.VC.VC.opendb
developer_tools/stbchecker/**/*.psess
developer_tools/stbchecker/**/*.vsp
developer_tools/stbchecker/**/*.vspx
developer_tools/stbchecker/**/*.sap
developer_tools/stbchecker/**/*.e2e
developer_tools/stbchecker/**/$tf/
developer_tools/stbchecker/**/*.gpState
developer_tools/stbchecker/**/_ReSharper*/
developer_tools/stbchecker/**/*.[Rr]e[Ss]harper
developer_tools/stbchecker/**/*.DotSettings.user
developer_tools/stbchecker/**/.JustCode
developer_tools/stbchecker/**/_TeamCity*
developer_tools/stbchecker/**/*.dotCover
developer_tools/stbchecker/**/.axoCover/*
developer_tools/stbchecker/**/!.axoCover/settings.json
developer_tools/stbchecker/**/*.coverage
developer_tools/stbchecker/**/*.coveragexml
developer_tools/stbchecker/**/_NCrunch_*
developer_tools/stbchecker/**/.*crunch*.local.xml
developer_tools/stbchecker/**/nCrunchTemp_*
developer_tools/stbchecker/**/*.mm.*
developer_tools/stbchecker/**/AutoTest.Net/
developer_tools/stbchecker/**/.sass-cache/
developer_tools/stbchecker/**/[Ee]xpress/
developer_tools/stbchecker/**/DocProject/buildhelp/
developer_tools/stbchecker/**/DocProject/Help/*.HxT
developer_tools/stbchecker/**/DocProject/Help/*.HxC
developer_tools/stbchecker/**/DocProject/Help/*.hhc
developer_tools/stbchecker/**/DocProject/Help/*.hhk
developer_tools/stbchecker/**/DocProject/Help/*.hhp
developer_tools/stbchecker/**/DocProject/Help/Html2
developer_tools/stbchecker/**/DocProject/Help/html
developer_tools/stbchecker/**/publish/
developer_tools/stbchecker/**/*.[Pp]ublish.xml
developer_tools/stbchecker/**/*.azurePubxml
developer_tools/stbchecker/**/*.pubxml
developer_tools/stbchecker/**/*.publishproj
developer_tools/stbchecker/**/PublishScripts/
developer_tools/stbchecker/**/*.nupkg
developer_tools/stbchecker/**/**/[Pp]ackages/*
developer_tools/stbchecker/**/!**/[Pp]ackages/build/
developer_tools/stbchecker/**/*.nuget.props
developer_tools/stbchecker/**/*.nuget.targets
developer_tools/stbchecker/**/csx/
developer_tools/stbchecker/**/*.build.csdef
developer_tools/stbchecker/**/ecf/
developer_tools/stbchecker/**/rcf/
developer_tools/stbchecker/**/AppPackages/
developer_tools/stbchecker/**/BundleArtifacts/
developer_tools/stbchecker/**/Package.StoreAssociation.xml
developer_tools/stbchecker/**/_pkginfo.txt
developer_tools/stbchecker/**/*.appx
developer_tools/stbchecker/**/*.[Cc]ache
developer_tools/stbchecker/**/!*.[Cc]ache/
developer_tools/stbchecker/**/ClientBin/
developer_tools/stbchecker/**/~$*
developer_tools/stbchecker/**/*~
developer_tools/stbchecker/**/*.dbmdl
developer_tools/stbchecker/**/*.dbproj.schemaview
developer_tools/stbchecker/**/*.jfm
developer_tools/stbchecker/**/*.pfx
developer_tools/stbchecker/**/*.publishsettings
developer_tools/stbchecker/**/orleans.codegen.cs
developer_tools/stbchecker/**/Generated_Code/
developer_tools/stbchecker/**/_UpgradeReport_Files/
developer_tools/stbchecker/**/Backup*/
developer_tools/stbchecker/**/UpgradeLog*.XML
developer_tools/stbchecker/**/UpgradeLog*.htm
developer_tools/stbchecker/**/ServiceFabricBackup/
developer_tools/stbchecker/**/*.rptproj.bak
developer_tools/stbchecker/**/*.mdf
developer_tools/stbchecker/**/*.ldf
developer_tools/stbchecker/**/*.ndf
developer_tools/stbchecker/**/*.rdl.data
developer_tools/stbchecker/**/*.bim.layout
developer_tools/stbchecker/**/*.bim_*.settings
developer_tools/stbchecker/**/*.rptproj.rsuser
developer_tools/stbchecker/**/FakesAssemblies/
developer_tools/stbchecker/**/*.GhostDoc.xml
developer_tools/stbchecker/**/.ntvs_analysis.dat
developer_tools/stbchecker/**/node_modules/
developer_tools/stbchecker/**/*.plg
developer_tools/stbchecker/**/*.opt
developer_tools/stbchecker/**/*.vbw
developer_tools/stbchecker/**/*.HTMLClient/GeneratedArtifacts
developer_tools/stbchecker/**/*.DesktopClient/GeneratedArtifacts
developer_tools/stbchecker/**/*.DesktopClient/ModelManifest.xml
developer_tools/stbchecker/**/*.Server/GeneratedArtifacts
developer_tools/stbchecker/**/*.Server/ModelManifest.xml
developer_tools/stbchecker/**/_Pvt_Extensions
developer_tools/stbchecker/**/.paket/paket.exe
developer_tools/stbchecker/**/paket-files/
developer_tools/stbchecker/**/.fake/
developer_tools/stbchecker/**/.idea/
developer_tools/stbchecker/**/*.sln.iml
developer_tools/stbchecker/**/.cr/
developer_tools/stbchecker/**/__pycache__/
developer_tools/stbchecker/**/*.pyc
developer_tools/stbchecker/**/*.tss
developer_tools/stbchecker/**/*.jmconfig
developer_tools/stbchecker/**/*.btp.cs
developer_tools/stbchecker/**/*.btm.cs
developer_tools/stbchecker/**/*.odx.cs
developer_tools/stbchecker/**/*.xsd.cs
developer_tools/stbchecker/**/OpenCover/
developer_tools/stbchecker/**/ASALocalRun/
developer_tools/stbchecker/**/*.binlog
developer_tools/stbchecker/**/*.nvuser
developer_tools/stbchecker/**/.mfractor/

