services:
  softether:
    image: softethervpn/vpnserver:latest
    hostname: softethervpnserver
    cap_add:
      - NET_ADMIN
    restart: always
    ports:
      #- 53:53         #DNS tunneling
      - 443:443         #Management and HTTPS tunneling
      - 992:992         #HTTPS tunneling
      #- 1194:1194/udp #OpenVPN 
      #- 5555:5555       #HTTPS tunneling
      #- 500:500/udp   #IPsec/L2TP
      #- 4500:4500/udp #IPsec/L2TP
      #- 1701:1701/udp #IPsec/L2TP
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "./softether_data:/var/lib/softether"
      - "./softether_log:/var/log/softether"
      # - "./adminip.txt:/var/lib/softether/adminip.txt:ro"
