[Unit]
Description=SoftEther VPN Client
After=network.target auditd.service
ConditionPathExists=![DIRECTORY]/do_not_run

[Service]
Type=forking
EnvironmentFile=-[DIRECTORY]
ExecStart=[BINARY] start
ExecStop=[BINARY] stop
KillMode=process
Restart=on-failure

# Hardening
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-[DIRECTORY]
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW CAP_SYS_NICE CAP_SYS_ADMIN CAP_SETUID

[Install]
WantedBy=multi-user.target
