#!/usr/bin/make -f

export DH_VERBOSE=1
CFLAGS := $(shell dpkg-buildflags --get CFLAGS)
LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@ 

override_dh_auto_configure: configure_config

override_dh_auto_clean:
	rm -fr Makefile* usr bin tmp src/bin/BuiltHamcoreFiles

override_dh_auto_install:
	patch -f < debian/makefile.patch
	mkdir -p usr/bin
	make install

configure_config:
	if [ $(shell uname -m) = 'x86_64' ]; then echo "1\n2\n" | ./configure; fi
	if [ $(shell uname -m) = 'i686' ]; then echo "1\n1\n" | ./configure; fi
	if [ $(shell uname -m) = 'armv6l' ]; then echo "1\n1\n" | ./configure; fi

