#pragma code_page(932)

1 VERSIONINFO
 FILEVERSION $VER_MAJOR$,$VER_MINOR$,0,$VER_BUILD$
 PRODUCTVERSION $VER_MAJOR$,$VER_MINOR$,0,$VER_BUILD$
 FILEFLAGSMASK 0x17L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "CompanyName", "SoftEther VPN Project at University of Tsukuba, Japan. (Open-source Customized Build)"
            VALUE "FileDescription", "$PRODUCTNAME$ (Open-source Customized Build)"
            VALUE "FileVersion", "$VER_MAJOR$, $VER_MINOR$, 0, $VER_BUILD$"
            VALUE "InternalName", "$INTERNALNAME$ (Open-source Customized Build)"
            VALUE "LegalCopyright", "Copyright (C) 2012-$YEAR$ SoftEther VPN Project. All Rights Reserved. (Open-source Customized Build)"
            VALUE "LegalTrademarks", "SoftEther(R) is a registered trademark of SoftEther Corporation in Japan, United Status and People's Republic of China. SoftEther Corporation is a company founded at University of Tsukuba, Japan."
            VALUE "OriginalFilename", "$FILENAME$"
            VALUE "ProductName", "$PRODUCTNAME$  (Open-source Customized Build)"
            VALUE "ProductVersion", "$VER_MAJOR$, $VER_MINOR$, 0, $VER_BUILD$"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x411, 1200
    END
END
